<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action}} User</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.name">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="{{action}} Email" matInput [(ngModel)]="local_data.email">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="{{action}} Role" matInput [(ngModel)]="local_data.role">
  </mat-form-field>
  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="{{action}} Created_by" matInput [(ngModel)]="local_data.created_by">
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b>UserData</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>