<div class="container">
  
  <mat-grid-list cols="3" rowHeight="4:1">
    <mat-grid-tile>
      <h1><strong>User Table</strong></h1>
    </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field  appearance="outline">
          <mat-label>Filter</mat-label>
          <input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Filter">
        </mat-form-field>
      </mat-grid-tile>
        <mat-grid-tile>
      <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>
    </mat-grid-tile>
    </mat-grid-list>
    
  <mat-grid-list cols="1" rowHeight="6:1">
  
  <table mat-table [dataSource]="dataSource.data"  matSort class=" mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <!-- Email Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <!-- Role Column -->
    <ng-container matColumnDef="Role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>
    <!-- Created_by Column -->
    <ng-container matColumnDef="Created_by" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created_by </th>
      <td mat-cell *matCellDef="let element"> {{element.created_by}} </td>
    </ng-container>
    <!-- Created_at Column -->
    <ng-container matColumnDef="Created_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created_at </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="Option">
      <th mat-header-cell *matHeaderCellDef> Option </th>
      <td mat-cell *matCellDef="let element" class="option-link"> 
        <button mat-button (click)="openDialog('Update',element)">Edit</button> | 
        <button mat-button (click)="openDialog('Delete',element)">Delete</button>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-grid-list>

</div>
